body {
    margin: 0;
    overflow: hidden;
    background-color: #000000;
    font-family: sans-serif;
}

canvas {
    display: block;
    position: absolute;
    background-color: #000000;
}

.cntrl {
    right: 0;
    bottom: 0;
    position: absolute;
    display: block;
    background-color: #000000;
    border-bottom: none;
    border-right: none;
    font-family: 'Fira Mono';
    border-radius: 10px;
}

#input {
    padding: 8px;
    font-family: 'Fira Mono';
    border: none;
    outline: none;
    background-color: #303030;
    color: #fff;
    display: flex;
    border-radius: 10px;
}

.info {
    color: #fff;
}

.err {
    padding: 2px;
    margin: 2px;
    color: #ff0000;
}

.cmd {
    padding: 2px;
    margin: 2px;
    color: #63de00;
}

.text {
    font-family: sans-serif;
    padding: 5px;
    color: white;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    border-radius: 10px;
    background-color: #000000;
}