body, html {
    margin: 0;
    padding: 0;
    background: url('../images/background.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: fadeIn 0.3s ease-in-out;
    overflow: auto;
}

#container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
}

table {
    background-color: #1C2833;
    width: 100%;
    padding: 10px;
    border: none;
    margin: 5px;
    border-radius: 10px;
    max-height: 400px;
    overflow-y: auto;
    display: block;
}

th, td {
    padding: 3px;
    text-align: left;
    color: #ffffff;
}

th {
    background-color: #2d497d;
}

tr:nth-child(even) {
    background-color: #27457b;
}

.highlight {
    background-color: #acd3f4;
    color: #1C2833;
}

#gameTitle,
#loginForm,
#creditsForm {
    text-align: left;
}

#gameTitle {
    font-family: sans-serif;
    font-size: 10em;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 0.3s forwards 0.3s;
    color: white;
    text-shadow: 4px 4px 8px #1C2833;
}

#loginForm,
#creditsForm {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-bottom: 5px;
    background-color: #1C2833;
    color: white;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    animation: slideIn 0.3s forwards 0.3s;
}

input {
    margin: 2px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    margin: 10px 0;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #27457b;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #27457b;
}

.level-button {
    margin: 2px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.level-button.disabled {
    background-color: #fff;
    color: #1C2833;
    cursor: not-allowed;
}

.level-button.lost {
    background-color: #FF0000;
    color: white;
}

.level-button.lost:hover {
    background-color: #cb0505;
}

.level-button.win {
    background-color: #1fa232;
    color: white;
}

.level-button.win:hover {
    background-color: #238731;
}

.level-button.active {
    background-color: #f4fc03;
    color: #1C2833;
}

.level-button.active:hover {
    background-color: #fccf03;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {

    #loginForm,
    #creditsForm {
        width: calc(100% - 20px);
        /* Zmenšení o 20px */
    }

    .lobby b {
        font-size: 14px;
    }
}