body {
    margin: 0;
    padding: 0;
    background: url('../images/index_bg.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    animation: fadeIn 0.3s ease-in-out;
}

.lobby {
    margin: 1px;
}

#gameTitle,
#loginForm,
#creditsForm {
    text-align: left;
}

#gameTitle {
    font-family: sans-serif;
    font-size: 10em;
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 0.3s forwards 0.3s;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

#loginForm,
#creditsForm {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-bottom: 5px;
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 10px;
    opacity: 0;
    animation: slideIn 0.3s forwards 0.3s;
}

input {
    margin: 2px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    margin: 10px 0;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #1fa232;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #238731;
}

.level-button {
    margin: 2px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.level-button.disabled {
    background-color: #fff;
    color: #000;
    cursor: not-allowed;
}

.level-button.lost {
    background-color: #FF0000;
    color: white;
}

.level-button.lost:hover {
    background-color: #cb0505;
}

.level-button.win {
    background-color: #1fa232;
    color: white;
}

.level-button.win:hover {
    background-color: #238731;
}

.level-button.active {
    background-color: #f4fc03;
    color: black;
}

.level-button.active:hover {
    background-color: #fccf03;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    overflow-x: auto;
}

table th {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid white;
}

table td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table tr:last-child td {
    border-bottom: 2px solid white;
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {

    #loginForm,
    #creditsForm {
        width: calc(100% - 20px);
        /* Zmenšení o 20px */
    }

    .lobby b {
        font-size: 14px;
    }
}