body {
    margin: 0;
    overflow: hidden;
    background-color: #000000;
}

canvas {
    display: block;
    position: absolute;
    background-color: #000000;
}

.cntrl {
    right: 0;
    bottom: 0;
    position: absolute;
    display: block;
    background-color: #000000;
    width: 299px;
    height: 50vh;
    border: 1px solid #000000;
    border-bottom: none;
    border-right: none;
}

#input {
    padding: 8px;
    font-family: 'Fira Mono';
    border: none;
    outline: none;
    background-color: #303030;
    color: #fff;
    display: flex;
    margin-bottom: 5px;
}

.info {
    color: #fff;
}

.err {
    margin: 1px;
    color: #ff0000;
}

.cmd {
    margin: 1px;
    color: #63de00;
}

.text {
    color: white;
    width: 300px;
    height: 50vh;
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    font-size: 25px;
    background-color: #000000;
}